<ng-container *ngIf="currentUser$ | async as currentUser">
@if (chat) {

  <div class="chat-header">{{chat.chatName}}</div>
  <div class="chat-content w-100">

  @for (message of chat.messages; track message){
    <div *ngIf=" currentUser && message.sender.toLowerCase() === currentUser.username.toLowerCase(); else notOwnMessage" class="own-message message">
      <!-- Si el mensaje ha sido enviado por el usuario que está viendo la pantalla:-->
      <div>
        <h5>{{message.sender}}</h5>
        {{message.text}}
      </div>
    </div>
    <ng-template #notOwnMessage>
      <div  class="not-own-message message">
        <h5>{{message.sender}}</h5>
        <div>{{message.text}}</div>
      </div>
    </ng-template>
  }
  </div>

  <div class="typebar-container">
    <div class="typebar">
      <span class="icon-media">
        <i class="fa-solid fa-paperclip ms-3"></i>
      </span>
      <textarea id="expandable-textarea" class="messages-input mx-3 mt-2"></textarea>
      <span class="icon-send">
        <i class="fa-solid fa-paper-plane me-3"></i>
      </span>
    </div>
  </div>
}
</ng-container>



