<ng-container *ngIf="currentUser$ | async as currentUser">
@if (selectedChat && chat$!=null) {
  <ng-container *ngIf="chat$ | async as chat">
  <div class="chat-header  text-white">
    <div class=" row align-items-center ps-3">
      <div class="d-flex">
        <div class="circle-icon">
          <img src="{{displayChatPhoto(chat)}}">
        </div>
        <div class="ms-3 d-flex align-items-center mb-0" ><h5 class="mb-0">{{chat.chatName}}</h5></div>
      </div>
    </div>
  </div>
  <div class="chat-content w-100 align-self-center">

  @for (message of chat.messages; track message){
    <div *ngIf=" currentUser && message.sender.toLowerCase() === currentUser.username.toLowerCase(); else notOwnMessage" class="own-message message">
      <!-- Si el mensaje ha sido enviado por el usuario que está viendo la pantalla:-->
      <div>
        <h5>{{message.sender}}</h5>
        {{message.text}}
      </div>
    </div>
    <ng-template #notOwnMessage>
      <div  class="not-own-message message">
        <h5>{{message.sender}}</h5>
        <div>{{message.text}}</div>
      </div>
    </ng-template>
  }
  </div>

  <div class="typebar-container">
    <div class="typebar">
      <span class="icon-media">
        <i class="fa-solid fa-paperclip ms-3"></i>
      </span>
      <textarea id="expandable-textarea" class="messages-input mx-3 mt-2"></textarea>
      <span class="icon-send">
        <i class="fa-solid fa-paper-plane me-3" (click)="sendMessage()"></i>
      </span>
    </div>
  </div>
  </ng-container>
}
</ng-container>



