 <ng-container *ngIf="chat$ | async as chat ; else noChatSelected">
  <div class="chat-header  text-white">
    <div class=" row align-items-center ps-3">
      <div class="d-flex">
        <div class="circle-icon">
          <img src="{{displayChatPhoto(chat)}}">
        </div>
        <div class="ms-3 d-flex align-items-center mb-0"><h5 class="mb-0">{{chat.chatName}}</h5></div>
      </div>
    </div>
  </div>
  <div class="chat-content w-100 align-self-center" #chatContent>

  @for (message of chat.messages; track message){
    <div *ngIf=" currentUsername && message.sender.toLowerCase() === currentUsername.toLowerCase(); else notOwnMessage" class="own-message message">
      <!-- Si el mensaje ha sido enviado por el usuario que está viendo la pantalla: -->
      <h6 class="mb-1 col-12">{{message.sender}}</h6>
      <div class="contenedor">
        <div class="texto-con-fecha">
          <p class="texto">{{message.text}}</p>
          <p class="date">{{displayTime(message.date)}}</p>
        </div>
      </div>

    </div>
    <ng-template #notOwnMessage>
      <div  class="not-own-message message">
        <h6 class="mb-1">{{message.sender}}</h6>
        <div class="contenedor">
          <div class="texto-con-fecha">
            <p class="texto">{{message.text}}</p>
            <p class="date">{{displayTime(message.date)}}</p>
          </div>
        </div>
      </div>
    </ng-template>
  }
  </div>

  <div class="typebar-container">
    <div class="typebar">
      <span class="icon-media">
        <i class="fa-solid fa-paperclip ms-3"></i>
      </span>
        <textarea id="expandable-textarea" class="messages-input mx-3 mt-2"  (keydown.enter)="sendMessage()"></textarea>
      <span class="icon-send">
        <i class="fa-solid fa-paper-plane me-3" (click)="sendMessage()"></i>
      </span>
    </div>
  </div>
  </ng-container>
 <ng-template #noChatSelected>

 </ng-template>




