<div class="background">
  <div class="login-container">
    <h2 class="mb-2">Sign up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" required>
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          <small *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.<br></small>
          <small *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.<br></small>
          <small *ngIf="registerForm.get('username')?.errors?.['invalidUsername']">Username can only contain letters, numbers, and underscores.<br></small>

        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" formControlName="email" required>
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">E-mail required.<br></small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid e-mail address<br></small>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.<br></small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.<br></small>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Repeat password</label>
        <input type="password" id="password2" formControlName="password2" required>
        <div *ngIf="registerForm.get('password2')?.invalid && registerForm.get('password2')?.touched">
          <small *ngIf="registerForm.get('password2') != registerForm.get('password')">Passwords do not match.<br></small>
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="registerForm.invalid">Register</button>
    </form>
    <a routerLink="/auth" class="register-link mt-4">Already have an account? Sign in!</a>
  </div>
</div>
