
<div id="div-component" *ngIf="user$ | async as user">
<!-- div barra opciones -->
<div class="option-bar">
  <!-- Botón toggle de modo oscuro -->
  <div class="top-buttons">
    <button class="pfp">
      <img src="{{user?.profilePicture}}" >
    </button>
  </div>
    <div class="bottom-buttons">
      <button (click)="toggleFriends()">
        <i class="fa-solid fa-person-circle-question text-white"></i>
      </button>
      <button>
        <i class="fa-regular fa-moon text-white"></i>
      </button>
      <button>
        <i class="fa-solid fa-gears text-white"></i>
      </button>
      <button (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket" >
        </i>
      </button>
    </div>
  </div>

  <div class="w-100">
    <header class="brand-name">
      <img class="brand-logo " src="../../../assets/logoemptywhite.svg" alt="logo">
      Chat-Up
    </header>

    <div id="div-sibling2" >
      <!-- div listado de chats -->
      <div id="chat-list" class="justify-content-center">
        <h4 class="text-lg-center p-3">Messages</h4>
        <!-- cada elemento chat del usuario-->
        <ng-container *ngIf="user && chats$ | async as chats ; else noChats" >
          <div *ngFor="let chat of chats" class="chat-item"  (click)="selectChat(chat.id_chat)">
            <div class="row align-items-center py-2">
              <div class="col-auto ms-3">
                <div class="circle-icon">
                  <img  src="{{displayChatPhoto(chat)}}">
                </div>
              </div>
              <div class="col">
                <div>
                  <div class="fw-bold antioverflow">{{chat.chatName}}</div>
                  <div class="text-lg-start d-flex justify-content-between me-3  ms-1 ">
                    @if(chat.lastMessage){
                      <div class="antioverflow">{{displayLastMessage(chat.lastMessage)}}</div>
                      <!-- Si tiene mensajes sin leer, no se visualizará la hora, se visualizará en cambio un icono con la cuantía de mensajes sin leer, en la etiqueta "ng-template"-->
                      <div class="unread-message" *ngIf="chat.unreadMessages==0; else unreadMessagesTemplate">
                        {{displayTime(chat.lastMessage.date)}} </div>
                    }@else{
                      <p class="fst-italic">Start chatting-up with your friend!</p>
                    }
                    <ng-template #unreadMessagesTemplate>
                      <div class="roundednotif"><p>{{displayUnreadNumber(chat.unreadMessages)}}</p></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noChats>
          <h5 class="text-center">It looks like there are no chats yet... Add a friend and start to chat!</h5><br>

        </ng-template>

      </div>

      <!--div Chat con mensajes-->
      <div id="chatbox">
        <ng-container *ngIf="user$ | async as user">
          @if(selectedChatId && username){
            <app-chat [id_chat]="selectedChatId"  [currentUsername]="username"></app-chat>
          } @else{
            <div class="entrada text-center ">
              <h1 class="mb-3"> Welcome back!</h1>
              <h3 class="mb-3 fw-light"> Please select a chat to start typing</h3>
              <h5 class="mb-2 fst-italic fw-lighter"> Or add new friends to start a new chat!</h5>
              <p class="fst-italic fs-5 mt-3">
                Click this icon here, or in your lateral bar. <span class="icono"><i class="fa-solid fa-person-circle-question text-white" (click)="toggleFriends()">
              </i></span><span class="fs-2">&#10554;</span></p>
            </div>
          }
        </ng-container>
      </div>
     </div>
  </div>
</div>

<div class="popups">
  <app-friends *ngIf="showFriends" (closePopup)="toggleFriends()" (selectedChatId)="selectChat($event)">
    <p>Selected Chat ID: {{ selectedChatId }}</p>

  </app-friends>
  <app-user-info *ngIf="showFriendInfo" (closePopup)="toggleFriendInfo()"></app-user-info>
  <app-friends *ngIf="showFriendInfo" (closePopup)="toggleFriendInfo()"></app-friends>
</div>


