@import './header.css';
@import './optionbar.css';
@import './chatlist.css';
@import './scrollbar.css';
@import './chatbox.css';

#div-component {
  display: flex;
  width:100%;
}

#div-sibling2{
  width:100%;
  display:flex;
  height: calc(100vh - 30px);
}

