<div class="popup" *ngIf="user$ | async as user">
  <button (click)="onClose()" class="close-button"><i class="fa-solid fa-xmark"></i></button>
    <div class="row">
      <div class="col-md-3">
        <div class="user-profile-image">
          <img src="{{user.profilePicture}}" alt="{{user.username}}'s profile picture" />
        </div>
      </div>
    <div class="col-md-9">
      <p><strong>Name:</strong> {{user.username}}</p>
      <p><strong>Description:</strong> {{user.description}}</p>
    </div>
  </div>
</div>
