@import './scrollbar.css';
@import './scrollbar-textarea.css';
@import './chat-header.css';
@import './messages.css';

.chat-content{
  background-image: url('../../../../assets/pictures/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  width:100%;
  height: calc(100vh - 183px);
  overflow-y: auto;
  padding: 2em 1em 0em;
}

.typebar-container{
  min-height: 40px;
  padding-top:20px;
  padding-bottom:20px;
  bottom:0;
}

.typebar {
  height:45px;
  background: #030d1a;
  position: sticky;
  bottom: 0;
  border-radius: 50px;
  border: 1px solid #7300ff;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom:1px;
  display: flex;
}

.messages-input{
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  font-size: 16px;
  background-color:  #030d1a;
  line-height: 20px;
}

.message p {
  white-space: normal;
  word-wrap: break-word;
}

textarea{
  width:100%;
  box-sizing: border-box;
  resize: none;
}

i{
  margin-top: 15px;
  color: #00FF8CFF;
}
