.chat-content::-webkit-scrollbar {
  width: 5px;
}

.chat-content::-webkit-scrollbar-thumb {
  background-color: #7300ff;
  border: 1px solid black;
  border-top:0;
}

.chat-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.91);
  border: 1px solid rgb(0, 255, 140);
  border-radius: 2px;
}
