@import './scrollbar.css';
@import './scrollbar-textarea.css';

.chat-header{
  height:60px;
  border: solid 1px #7300ff;
}

.entrada{
  margin-top: 4em;
  color: #5cffb6;
}

.chat-content{
  display:flex;
  flex-direction: column;
  width:100%;
  height: calc(100vh - 170px); /* Ajusta a la altura deseada */
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
  padding: 2em 1em 3em;
}

.own-message{
  align-self: flex-end;
  background: linear-gradient(159deg, rgba(0, 255, 140, 0.25) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 70%, rgba(221, 0, 255, 0.30)  100%);

}

.not-own-message{
  align-self:flex-start;
  background: linear-gradient(159deg, rgba(221, 0, 255, 0.30)  0% , rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 70%, rgba(0, 255, 140, 0.25) 100%);

}

.message {
  padding: 8px 12px;
  margin: 4px;
  border-radius: 8px;
  color: white;
  max-width: 80%;
}


.typebar-container{
  min-height: 40px;
  padding-top:20px;
  padding-bottom:10px;
}

.typebar {
  height:45px;
  background: #030d1a;
  position: sticky;
  bottom: 0;
  border-radius: 50px;
  border: 1px solid #7300ff;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom:1px;
  display: flex;
}

.messages-input{
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  font-size: 16px;
  background-color:  #030d1a;
}

textarea{
  width:100%;
  box-sizing: border-box;
  resize: none;
}


i{
  margin-top: 15px;
  color: #00FF8CFF;
}
