.chat-content::-webkit-scrollbar {
  width: 5px;  /* Ancho del scrollbar */
}

/* Estilo del control deslizante del scrollbar */
.chat-content::-webkit-scrollbar-thumb {
  background-color: rgb(219, 0, 255);  /* Color del deslizador */
  border: 1px solid black;
  border-top:0;
}

/* Estilo del track del scrollbar */
.chat-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.91);  /* Color del track */
  border: 1px solid rgba(0, 255, 140, 0.33);
  border-radius: 2px;  /* Bordes redondeados */
}
