<div class="background">
  <div class="login-container">
    <img src="assets/pictures/logo1.png" alt="Logo" class="logo">
    <h2 class="mb-4">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" required email>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">E-mail required.<br></small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid e-mail address<br></small>

        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.<br></small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 5 characters long.<br></small>
        </div>
      </div>
      <button type="submit" class="login-button mt-4" [disabled]="loginForm.invalid">Login</button>
    </form>
    <button (click)="loginGoogle()" class="google-login-button">Login with Google</button>
    <a routerLink="/register" class="register-link mt-4">Don't have an account? Click here and Sign up!</a>
  </div>
</div>
