<div class="background">
  <div class="login-container">
    <img src="assets/pictures/logo1.png" alt="Logo" class="logo">
    <h2 class="mb-4">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" required >
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">Username required.<br></small>
          <small *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.<br></small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.<br></small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 5 characters long.<br></small>
        </div>
      </div>
      <button type="submit" class="login-button mt-4" [disabled]="loginForm.invalid">Login</button>
    </form>
    <a routerLink="/register" class="register-link mt-4 ">Don't have an account? <span class="fw-bold ">Click <span class="text-decoration-underline">here</span> and Sign up!</span></a>
  </div>
</div>
