
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #04092c linear-gradient(160deg, rgba(0, 42, 211, 0.3) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 70%, rgba(183, 0, 255, 0.12) 100%);
  padding: 20px;
  border: 1px solid rgb(98, 0, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #00ffb7;
  overflow-y: auto;
  width: 500px;
  min-height: 500px;
  max-height:700px;
  z-index: 10!important;
}


.close-button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.other-buttons{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: #00ffb7;

}

.fa-xmark{
  color: #ea3b6f;
}


small {
  color: #ea3b6f;
  font-size: 11px;
  text-align: center;
}


.list-item {
  flex: 0 0 calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  border: 2px solid #00ffb7;
  padding-left: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  transition: border-color 0.3s;
  color: #00ffb7;
}

input[type="text"]:focus {
  border-color: #6200ff;
}






.popup::-webkit-scrollbar {
  width: 5px;

}

.popup::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 140);
  border: 1px solid black;
  border-top:0;

}

.popup::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.91);
  border: 1px solid rgba(219, 0, 255, 0.33);
  border-radius: 2px;
}
