.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(0, 42, 211, 0.3) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 70%, rgba(183, 0, 255, 0.12) 100%);
  padding: 20px;
  border: 1px solid rgb(98, 0, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #00ffb7;
  min-width: 500px;
  min-height: 500px;
}


.close-button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0; /* Elimina cualquier padding adicional */
  display: flex;
  align-items: center;
  justify-content: center;
}
.other-buttons{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: #00ffb7;

}

.fa-xmark{
  color: #ea3b6f;
}


small {
  color: #ea3b6f;
  font-size: 11px;
  text-align: center;
}
