#chat-list::-webkit-scrollbar {
  width: 5px;
}

#chat-list::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 140);
  border: 1px solid black;
  border-top:0;
}

#chat-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.91);
  border: 1px solid rgba(219, 0, 255, 0.33);
  border-radius: 2px;
}
