@if(!chat){
  <div class="entrada text-center ">
    <h1 class="mb-3"> Welcome back!</h1>
    <h3 class="mb-3 fw-light"> Please select a chat to start typing</h3>
    <h5 class="mb-2 fst-italic fw-lighter"> Or add new friends to start a new chat!</h5>
  </div>

} @else {
  <div class="chat-header">{{chat.chatName}}</div>
  <div class="chat-content w-100">

  @for (message of chat.messages; track message){
    <div *ngIf="message.sender.toLowerCase() === currentUser.username.toLowerCase(); else notOwnMessage" class="own-message message">
      <!-- Si el mensaje ha sido enviado por el usuario que está viendo la pantalla:-->
      <div>
        <h5>{{message.sender}}</h5>
        {{message.text}}
      </div>
    </div>
    <ng-template #notOwnMessage>
      <div  class="not-own-message message">
        <h5>{{message.sender}}</h5>
        <div>{{message.text}}</div>
      </div>
    </ng-template>
  }
  </div>

  <div class="typebar-container">
    <div class="typebar">
      <span class="icon-media">
        <i class="fa-solid fa-paperclip ms-3"></i>
      </span>
      <textarea id="expandable-textarea" class="messages-input mx-3 mt-2"></textarea>
      <script>
        const textarea = document.getElementById('expandable-textarea');

        textarea.addEventListener('input', autoResize, false);

        function autoResize() {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight) + 'px';
        }
      </script>
      <span class="icon-send">
        <i class="fa-solid fa-paper-plane me-3"></i>
      </span>
    </div>
  </div>


}



